body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.header {
  background-color: #e6f2ff;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;

  margin-left: 20px;
}

.header-content h1 {
  margin: 0;
  font-size: 24px;
  color: #00374A;
}

.auth-user {
  display: flex;
  gap: 20px;
}

.auth-links a {
  margin-left: 10px;
  text-decoration: none;
  color: #00374A;
  font-weight: bold;
}

/*Estilos barra de busqueda*/

.search-bar {
  margin-top: 20px;
  margin-left: 20px;
}

.search-bar .search-content {
  display: flex;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}
.search-bar .search-content img {
  width: 30px;
  height: 30px;
}
.bnt-search {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-bar input {
  padding: 10px;
  background: transparent;
  border: none;
  width: 80%;
}
.search-bar input:focus {
  outline: none;
}

.search-icon {
  margin-left: 10px;
}

.ttlCategorias {
  display: flex;
  height: 30px;
  padding: 0px;
  margin: 0px 50px;
  color: #00374A;
}

.categories {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 40px;
}

.categories button {
  background-color: #00bfff;
  color: white;
  border: none;
  padding: 10px 50px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.categoria-btn:hover {
  background-color: #009acd;
}

.categories button:hover {
  background-color: #009acd;
}

.featured-articles {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
  border-radius: 10px;
}

.featured-articles h2 {
  margin-bottom: 20px;
}

.articles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 190px;
}

.article .imagen {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}

.article .imagen img {
  width: 90%;
  border-radius: 10px;
}

.article p {
  margin: 0;
  font-size: 14px;
}

.allArticles,
.allArticlesByUser {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 30px;
  margin: 30px auto; /* Centramos */
}

.article {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.article img {
  width: 95%; /* O 100% si quieres que llene todo */
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto; /* << ESTA LÃNEA centra horizontalmente */
}

.article p {
  margin-top: 10px;
  font-size: 14px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.editar-btn,
.ver-articulo-btn {
  background-color: #00abe4;
}

.eliminar-btn {
  background-color: #ff4747;
}
.editar-btn,
.eliminar-btn,
.ver-articulo-btn {
  display: inline-block;
  margin: 10px auto 0 auto; /* espacio superior y centrado */
  width: 90%;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.editar-btn:hover,
.ver-articulo-btn:hover {
  cursor: pointer;
  background-color: #0072a0;
}

.eliminar-btn:hover {
  cursor: pointer;
  background-color: #c51010;
}

/*Estilos para el dezplazamiento horizontal del las categorias*/
.categories-scroll {
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

.categories {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  padding: 0 20px;
  min-width: max-content;
}

.categories-scroll::-webkit-scrollbar {
  height: 8px;
}

.categories-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.categories-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/*Estilos para la barra de navegacion*/

nav {
  margin-left: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #00374A;
  font-size: 18px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*Estilos para el boton Agregar en la seccion de mis articulos*/
#addProducto {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 50px;
}

#addProducto h1 {
  color: #0077cc;
  font-size: 30px;
}

#btnagregar {
  display: flex; /* Activamos Flexbox */
  justify-content: center; /* Alineamos horizontalmente */
  align-items: center; /* Alineamos verticalmente */
  background-color: #18e01f;
  color: white;
  margin-left: 20px;
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  gap: 10px; /* Espaciado entre la imagen y el texto */

  font-size: 17px;
}

#btnagregar img {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
}

#btnagregar:hover {
  background-color: #16c81c;
  cursor: pointer;
}

.menu-container {
  position: relative;
  display: inline-block;
}

/*Estilos para el menu desplegable*/
.menu-btn {
  border: none;
  cursor: pointer;
  top: 10px;
  right: 10px;
  z-index: 2;
}

/* Sidebar oculto inicialmente desde la derecha */
.dropdown-content, .notificacion-content {
    position: absolute;
    top: 100%;           
    right: 0;
    display: none;
    background-color: #f9f9f9;
    overflow-y: auto;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 6px;
  }

.dropdown-content a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #00374A;
  transition: 0.2s;
}

.dropdown-content a:hover {
  background-color: #001a23;
}

.content {
  padding: 20px;
}

/*Estilos para el foter y su contenido*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 100px;
}

footer p {
  padding: 0px;
  margin: 0px;
  color: #0077cc;
}

/*Estilos para la vista de ver articulo*/

.reportar-link{
  color: #0077cc;
  font-size: 18px;
  text-decoration: none;
}

.reportar-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

.principal {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  padding: 0;
  gap: 40px;
}

.product-info {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.product-image {
  margin-top: 40px;
  width: 100%;
  max-width: 250px;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.2);
  -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 20%,
      black 90%,
      transparent 100%
    ),
    linear-gradient(
      to right,
      transparent 0%,
      black 20%,
      black 90%,
      transparent 100%
    );
  -webkit-mask-composite: intersect;
  mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 20%,
      black 90%,
      transparent 100%
    ),
    linear-gradient(
      to right,
      transparent 0%,
      black 20%,
      black 90%,
      transparent 100%
    );
  mask-composite: intersect;
}

.offered-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #e9f1fa;
  padding: 5% 3%;
}

.btn-intercambiar,
.btn-perfil {
  padding: 10px 15px;
  background-color: #00abe4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-intercambiar:hover,
.btn-perfil:hover {
  background-color: #0056b3;
}
.contenido {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.contenido p {
  font-size: 20px;
}

.btn-intercambiar {
  margin-top: 50px;
  margin-left: 20px;
}
