
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #001f3f;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.volver:hover{
  cursor: pointer;
}
  
  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1% 0;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
  }
  
  
  main {
    padding: 30px 20px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 30px;
  }
  
  .items {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .item {
    text-align: center;
    color: #00374A;
  }

/*Estilos para los articulos*/
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 190px;
  cursor: pointer;
}


.article .imagen {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}

.article .imagen img {
  width: 90%;
  border-radius: 10px;
}

.article p {
  margin: 0;
  font-size: 14px;
}

.article {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.article img {
  width: 95%; /* O 100% si quieres que llene todo */
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto; /* << ESTA LÃNEA centra horizontalmente */
}

.article p {
  margin-top: 10px;
  font-size: 14px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
  