
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --azul-header: #E9F1FA;
    --azul-oscuro: #00374A;
    --azul-claro: #00ABE4;
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
  }
  
  header {
    background-color: #001f3f;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1% 0;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 30px;
  }
  
  .items {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .item {
    text-align: center;
    color: #00374A;
  }
  
  .articulos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 40px auto;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .columna {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
.btn-cambiar {
    background-color: var(--azul-oscuro);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .intercambio-icono {
    align-self: center;
    margin-top: 60px;
  }

  .btn-intercambiar-container {
    display: flex;
    text-align: center;
    margin-bottom: 40px;
    gap: 20px;
  }
  
  .btn-intercambiar, .btn-cancelar  {
    
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }
.btn-intercambiar{
  background-color: var(--azul-claro);
}

.btn-cancelar{
  background-color: #fa2c3a
}

.btn-intercambiar:hover{
  background-color: #0585b0;
}

.btn-cancelar:hover{
  background-color: #c80d1a
}

#articuloDeseado img, #articuloOfrecido img{
width: 150px;
}
